<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato -  Mama's Bakery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contato.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1>Mama's Bakery</h1>
            <nav>
                 <ul class="nav-links">
                    <li><a href="{{ url_for('index') }}">Início</a></li>
                    <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
                    <li><a href="{{ url_for('cardapio') }}">Cardápio</a></li>
                    <li><a href="{{ url_for('contato') }}">Contato</a></li>
                </ul>
            </nav>
                 <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
        </div>
    </header>

    <section class="contact">
        <div class="container">
            <h2>Contato</h2>
            <p>Para encomendas e outras informações, entre em contato conosco através do formulário abaixo:</p>
            <form action="/enviar_mensagem" method="post">
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Mensagem:</label>
                    <textarea id="message" name="message" rows="4" required></textarea>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Mama's Bakery. Todos os direitos reservados.</p>
        </div>
    </footer>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
